.facebook-logo {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.feed-section {
  height: 30px;
  width: 70px;
  margin: 10px;
}

.filter-logo {
  height: 30px;
  width: 30px;
}

.nav-item {
  text-align: right;
}

.filter-nav {
  margin-top: 20px;
}

.card {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
}
