.filter-nav-item {
  border-radius: 20px;
  color: white !important;
  font-family: sans-serif;
  font-size: medium !important;
}

.filter-nav-item:hover {
  background-color: #5f6263 !important;
}

.filter-nav-item:checked {
  background-color: #868a8a !important;
}

.facebook-logo {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.facebook-user-photo {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: cover;
}

.feed-section {
  height: 30px;
  width: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.feed-section-icon:hover {
  color: #dfe2e2;
  font-size: 27px;
}

.feed-section-icon {
  font-size: 25px;
}

.filter-logo {
  height: 30px;
  width: 30px;
}

.nav-item {
  text-align: right;
}

.filter-nav {
  margin-top: 20px;
  position: sticky;
  top: 90px;
}

.card {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
}

.notification-button {
  background-color: #3b3d3e !important;
  border-color: #3b3d3e !important;
}

.notification-button:hover {
  background-color: #4f5051 !important;
  border-color: #4f5051 !important;
}

.feed-item-button {
  background-color: transparent !important;
  border-color: transparent !important;
}
.feed-item-button:hover {
  background-color: #5f6263 !important;
  border-color: #5f6263 !important;
}

.feed-item-icon {
  border-color: black;
}

.feed-grid {
  background-color: #1c1c1d;
}

.card-header {
  background-color: #4f5051 !important;
  border-color: transparent !important;
  margin: 0px !important;
}
.card-text {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: larger;
}

.navbar {
  background-color: #252728 !important;
  position: sticky !important;
  top: 0;
  z-index: 1000;
  height: 70px;
}

.card {
  border-color: #4f5051 !important;
}

.card-image {
  object-fit: cover;
  max-height: 400px;
}

.feed-user-photo {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.feed-user-name {
  font-family: arial;
  font-size: 17px;
  color: white;
  direction: rtl;
}

.feed-days-ago {
  margin-left: 4px; /* Add spacing between elements */
  color: gray;
}

.feed-card-information {
  margin-right: 20px;
}

.feed-user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
}

.feed-text-container {
  text-align: right; /* Align text to the right */
  margin-left: auto; /* Push text to the right */
  margin-right: 8px; /* Add some spacing between text and image */
}

.feed-days-ago-container {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align items to the right */
  direction: rtl; /* Reverse the order of elements */
}

.card-footer {
  background-color: #4f5051 !important;
}

.feed-contact-bar-search {
  font-family: Arial;
  color: white;
  color: rgba(210, 204, 204, 0.815);
}

.feed-contact-bar {
  margin-top: 0px;
  margin-right: 50px;
  margin-left: 50px;
  text-align: right;
  position: sticky;
  top: 100px;
}
.feed-search-bar-button {
  border-color: transparent !important;
  color: white !important;
}

.contact-bar-title {
  color: rgba(210, 204, 204, 0.815);
  font-family: Arial;
  font-size: larger;
}

.contact-name {
  border-radius: 20px;
  color: white !important;
  font-family: sans-serif;
  font-size: larger !important;
}

.contact-name:hover {
  background-color: #737575;
}

.contact-photo {
  height: 30px;
  width: 30px;
  margin-left: 5px;
  object-fit: cover;
}

.feed-item-action-button {
  color: white !important;
  background-color: transparent;
  border-color: transparent !important;
  font-family: arial;
  font-size: 20px;
}

.feed-item-action-button:hover {
  background-color: #5f6263 !important;
}

.feed-item-action-button:checked {
  background-color: #868a8a !important;
}

.card-body {
  background-color: #4f5051 !important;
  color: white !important;
  direction: rtl;
  font-family: arial;
  font-size: medium;
}

.search-facebook-bar {
  background-color: #3b3d3e !important;
  border-radius: 20px !important;
  border-color: transparent !important;
  width: 250px !important;
  height: 45px !important;
  color: #dfe2e2 !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 20px !important;
}
.search-facebook-bar::placeholder {
  color: #dfe2e2 !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
